$contato-hover:#5ccb5f;
$contato-hover2: #009929;
$contato-family: 'Plus Jakarta Sans';

@mixin responsive($breakpoint) {
    @if $breakpoint == mobile {
      @media (max-width: 600px) { @content; }
    } @else if $breakpoint == tablet {
      @media (min-width: 768px) { @content; }
    } @else if $breakpoint == desktop {
      @media (max-width: 1024px) { @content; }
    }
  }

.tela-contato{
    display: flex;
    border: solid 3px $contato-hover;
    border-radius: 30px;
    margin: 30px 50px !important;
    @include responsive(tablet) {
        margin: 30px 150px !important;
      }
}

.formulario{
    padding: 30px;
    font-family: $contato-family;
}

.button{
    border: $contato-hover;
    background-color: $contato-hover;
    border-radius: 30px;
    height: 40px;
    width: 100%;
    transition: all 0.3s;
    &:hover{
        background-color: $contato-hover2;
    }
}

.capa{
    display: none;
    border: transparent;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    @include responsive(tablet) {
        display: flex;
        background-image: url(https://img.freepik.com/fotos-gratis/textura-de-folha-verde-fundo-de-textura-de-folha_501050-120.jpg);
      }
}